extends ./inc/_layout
block title
    | Подключение
    - menuItem = 5
block content
    .col-md-12
        .m-portlet.m-portlet--tab
            .m-messenger.m-messenger--message-arrow.m-messenger--skin-light.m--padding-40
                .m--hide#chatInMessageExample
                    .m-messenger__wrapper
                        .m-messenger__message.m-messenger__message--in
                            .m-messenger__message-pic
                                img(src="../images/graphgrail-sqr.png")
                            .m-messenger__message-body
                                .m-messenger__message-arrow
                                .m-messenger__message-content
                                    .m-messenger__message-username
                                        | Graph grail
                                    .m-messenger__message-text
                .m--hide#chatOutMessageExample
                    .m-messenger__wrapper
                        .m-messenger__message.m-messenger__message--out
                            .m-messenger__message-body
                                .m-messenger__message-arrow
                                .m-messenger__message-content
                                    .m-messenger__message-text
                .m-messenger__messages.mCustomScrollbar(style="height:50vh")
                    #chatMessages
                .m-messenger__seperator
                .m-messenger__form
                    .m-messenger__form-controls
                        input#chatInput.m-messenger__form-input(type="text", placeholder="Type here...")
                    .m-messenger__form-tools
                        a#chatSendButton.m-messenger__form-attachment
                            i.la.la-send-o
